/target/
/.settings/
/.classpath
/.project
pom.xml.*
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
/maven-build.properties
/maven-build.xml
/mvn.log
/build.xml
